// :root {
//     --background-color: #000;
//     --text-color: #f5ebeb;
//     --accent-color: #a93b59;
//     --background-form: rgba(185, 106, 127, 0.7);
//     --additional-text: #fff;
//     --catalog-bg: #b96a7f;
//     --man: #6f6567;
//     --svg-color: #822740;
//     --hart-color: #b02e51;
//     --form-text: rgba(255, 255, 255, 0.71);
//   }

$background-color: #000;
$text-color: #f5ebeb;
$accent-color: #a93b59;
$background-form: rgba(185, 106, 127, 0.7);
$additional-text: #fff;
$catalog-bg: #b96a7f;
$man: #6f6567;
$svg-color: #822740;
$hart-color: #b02e51;
$form-text: rgba(255, 255, 255, 0.71);
